* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-primary: #d4f0d4;
  --font-family: "DM Sans", system-ui;
  --font-size: 16px;
  --line-height: 24px;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner {
  background-color: var(--bg-primary);
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-contents {
  width: 100%;
  max-width: 1230px;
  display: flex;
  gap: 25.5px;
}

.banner-contents > div {
  font-weight: 300;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-contents {
  width: 100%;
  max-width: 1230px;
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 16px 0px 21px 0px;
}

.logo a {
  display: block;
  background: url("../assets/spc-icon.svg") center center no-repeat #fff;
  height: 93px;
  width: 97px;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 33px;
}

.top-navigation {
  display: flex;
  gap: 18px;
  justify-content: end;
}

.top-navigation-elements {
  display: flex;
  gap: 28px;
}

.social-elements {
  display: flex;
  gap: 8.3px;
}

.main-navigation {
  display: flex;
  gap: 41.25px;
}

.main-navigation > div > a {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #3c3c3c;
}

.swapper-container {
  width: 100%;
  position: relative;
}

.swapper-container-bg img {
  width: 100%;
  height: auto;
  clip-path: inset(0 0 0 0 round 0 100px 0 0);
  object-fit: contain;
}

.card-container {
  width: 100%;
  position: absolute;
  bottom: -85px;
}

.boxes {
  display: flex;
  width: 100%;
  gap: 32px;
  justify-content: center;
}

.box {
  width: 178px;
  height: 169px;
  border-radius: 0px 20px 0px 20px;
  box-shadow: 0px 4px 20px 0px #da6f001a;
  background-color: white;
  display: flex;
  padding: 20px;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
  transition: 0.3s ease-in-out;
}

.box:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.box .text {
  margin-top: 5px;
  width: 142px;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.04em;
  /* text-align: center; */
}

.info-card {
  padding: 24px 32px;
  background-color: #ffffff;
  position: absolute;
  width: 315px;
  height: 256px;
  bottom: 30%;
  right: 0;
  border-radius: 15px 0px 0px 15px;
  box-shadow: 0px 4px 20px 0px #da6f0033;
  animation: slideIn 0.8s ease-out forwards;
  opacity: 0;
}

.short-line {
  margin-top: 20px;
  margin-bottom: 18px;
  height: 1px;
  width: 75px;
  background-color: #3468c0;
}

.info-card .title {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.04em;
}

.time-continer {
  display: flex;
  gap: 20px;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.information {
  background-color: var(--bg-primary);
  width: 100%;
  display: flex;
  justify-content: center;
}

.information-container {
  width: 100%;
  max-width: 1230px;
  padding-top: 151px;
}

.information-container .title {
  font-family: Outfit;
  font-size: 45px;
  font-weight: 250;
  line-height: 62px;
  color: #141515;
}

.information-container .desc {
  margin-top: 21px;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  color: #141515;
}

.information-container .action {
  margin-top: 28px;
  margin-bottom: 54px;
  width: 178px;
  height: 55px;
  outline: none;
  border-radius: 60px;
  background: #3468c0;
  border: 0;
}

.action-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 18.23px;
  letter-spacing: 0.1em;
  color: #ffffff;
}
